[2016-08-23 17:35] khanSufiyan commented on #67
@Duder-onomy I really appreciate the help that you offered.I will try to get the issue fixed at my end.As all your fiddles are working fine and I also think that it is an  implementation issue.I will come back if I am unable to solve it.Thanks for you time and help.

[2016-08-23 20:57] jccazeaux commented on #623
I'm curious : what is the use case where you need to unbind the view and rebind it later? When i unbind a view it's to overwrite the template before performing a new bind

Nevertheless your solution will work, but I would do it like this for simplicity reasons
[code]
I did not test it, but it should do the job.

[2016-08-24 01:55] a-koka commented on #623
Hi @jccazeaux. I like your suggestion of saving off the originalTextContent. I'll give that a shot.

To answer your question, the real problem is better described in the original example which wraps up the text elements inside an `rv-if` which in my application often gets bound and unbound. Hope that clarifies the concern.

[2016-08-24 08:16] jccazeaux commented on #623
I updated your fiddle [here](https://jsfiddle.net/havessex/3/)
Basically i replaced `unbind` with `application.view.isFullScreen = false` to force `rv-if` to unbind. In this scenario there is no bug.
It makes sense to _reset_ the template on `unbind` but we must be sure to not reset it too soon.

[2016-08-24 10:46] khanSufiyan commented on #67
Hi @Duder-onomy I was able to solve that issue I was using an out date version.Update the version to the latest and every thing is working fine.Thanks for your help mate.

[2016-08-24 15:15] a-koka commented on #623
You're absolutely right! I can no longer recreate the original bug in my app. I have several nested if blocks and this was a corner case. I did my best by replicating it in the original fiddle but the `unbind` in the fiddle was just a simulation of an `rv-if` unbinding.

I'll keep experimenting and keep this thread updated with my findings. Thanks for helping out.

[2016-08-24 18:31] olitomas opened #673 "Same object in multple binds"
I realise that this is probably not possible since rivets converts the binded object to something rivets specific (that has getters and setters for example). But I wanted to ask if anyone has found a way to achieve something like this or if its even possible without doing something too hacky:

`var obj = {
    goal: 'Be a loser'
};

var bind1 = rivets.bind($('#bind1'), {
  goal: obj.goal
});

var

[2016-08-24 19:01] Duder-onomy commented on #673
@olitomas This is totally possible. Not sure why you would think it was not possible?

Fortunately, you are completely wrong.

Here it is  https://jsfiddle.net/Vornagreg/oe29vaop/

We do this ALL the time. For example, if you has an application state singleton and wanted MANY sub views to be informed of changes in this state. Just bind them all to the same application state model.

Closing this si

[2016-08-24 19:01] #673 closed

[2016-08-24 19:02] Duder-onomy commented on #670
@goose2460 Can you close this issue if this helps you or let us know if you have any other issues.

[2016-08-24 19:13] olitomas commented on #673
Awesome thanks so much @Duder-onomy ....I was having troubles when binding like this in a fairly complex setup and did not manage to get things working. I wrongly assumed this was the issue, but obviously I was looking in the wrong direction.

[2016-08-24 19:25] Duder-onomy commented on #673
Right on. Thanks for reaching out either way. If you figure out why yours is not working, feel free to bug me more. Helping strangers is the best part of my day.

[2016-08-24 19:30] goose2460 commented on #670
Very helpful, thanks

[2016-08-24 20:02] goose2460 commented on #670
Hmm, I'm getting really bad performance (skips and stutters) when using your 2-way binding example.  On Chrome and Safari.  Can you reproduce?  I cab open a separate issue if so.

[2016-08-24 20:04] Duder-onomy commented on #670
My gut says the handler which published the value to the model should be throttled as the `currenttime` event fires WAY too much.

Ill look into it now.

[2016-08-24 20:09] goose2460 commented on #670
Preventing event default worked for me.  Is there a more concise way to do it?

`
el.addEventListener('timeupdate', function(evt){
			evt.preventDefault();
			this.publish(evt);
		});
`

[2016-08-24 20:40] blikblum commented on #670
When i comment `el.currentTime = value;` in routine method it works fine

[2016-08-24 20:44] Duder-onomy commented on #670
Yeah, @blikblum i see that as well. I guess there is a loop going on, when the binder publishes, then it thinks that it is also being set.

[2016-08-24 20:47] goose2460 commented on #670
Got it. Thanks for the help guys, closing

[2016-08-24 20:47] #670 closed

[2016-08-24 20:48] Duder-onomy commented on #670
But wait. I think there is an issue here. Why would the binding be running in a loop?
If the binder is setting the value to the model, why would the model in turn be trying to set the value back to the currentTime. Causing an infinite loop of publish and routine.

[2016-08-24 21:04] blikblum commented on #670
In the value bind there's a check in routine to see if value is equal before setting element property. In this case i think will not work because currenttime may be changed in the meantime.
A flag like isUpdating could work

[2016-08-24 21:06] goose2460 commented on #670
Ah, had to read up on 2-way binders to see what the issue is. So the routine is getting triggered by the observer when it should only be firing on a (non publish) model change.

[2016-08-24 21:28] Duder-onomy commented on #670
@blikblum Good call. this line here: https://github.com/mikeric/rivets/blob/master/src/binders.coffee#L93

Here is the proof http://jsfiddle.net/Vornagreg/2zkkbnbw/,
if i add this line to the routine, then i hear no more jitter:
[code]

Should we do something to avoid this completely?

[2016-08-25 00:26] goose2460 commented on #670
I can't get model-to-view binding to work with that fix, somehow `this.observer.value()` is already equal to `value` when the check happens.

http://jsfiddle.net/2zkkbnbw/1/

[2016-08-29 12:44] rtUsmanKhan opened #675 "Rivets not working with handlebar"
I am trying to send data from js using rivets but handlebar display it empty.
Does it work or not?

[2016-08-29 23:35] Duder-onomy commented on #675
@rtUsmanKhan Rivets is working fine.

Can you provide a non working jsfiddle so we can help you?

If you have bound rivets correctly, then it should show up.
If you look through the docs it should help you, especially with getting it up and running. Or if you look at old closed issues, there are TONS of cool examples to pull from.

I am going to close this as it is not an issue. Please comment if

[2016-08-29 23:35] #675 closed

[2016-08-30 05:35] rtUsmanKhan commented on #675
I am very thankful to you for your response.
This is the url of my non-working jsfiddle.
[https://jsfiddle.net/3j6yLL02/](url)

[2016-08-30 12:09] stianl opened #676 "Template variables are not rendered when empty component tag used"
Template variables are not rendered when empty component tag used.

When using `<counter-component></counter-component>` the variables are not interpolated and the result is:

**existingTemplateVar and notExistingTemplateVar and**.

If I use `<counter-component/>` (short tag style instead of empty tag) everything works as expected and the variables are interpolated. The result is:

**foo and**

Se

[2016-08-30 17:29] Duder-onomy commented on #675
Hi @rtUsmanKhan I am happy to help.

There are 2 things in your fiddle you need to fix.
* I could not find rivets installed into the fiddle. That is done on the left panel. I usually copy and past the rivets `dist` url into `rawgit` then past that development result into the libraries field in the left menu of jsfiddle.
* To use the `{{ thing.name }}` syntax, you will need to configure the templat

[2016-08-30 17:39] Duder-onomy commented on #676
That is odd. I played with your fiddle and it seems to me like the template existing in the DOM and being accessed by innerHTML has already stripped the curly braces.

If you look here, seems to be working fine : https://jsfiddle.net/Vornagreg/dwr7gwox/

I console.logged the `document.querySelector('.template').innerHTML` and the curly braces were already stripped out.

Anyhow, I am not super fami

[2016-08-31 06:24] rtUsmanKhan commented on #675
Bundles of Thanks for your response.

It is working absolutely fine in jsfiddle (after including rivets.bundled.min.js).
In my actual working context (sugar crm) it is not working, i have included that external resource file there as well.

[2016-08-31 16:59] Duder-onomy commented on #675
@rtUsmanKhan I cannot help you debug this issue with your implementation any further unless you demonstrate a case where it is not working. I believe you that it might not be working in Sugar CRM but I cannot help you fix your implementation if I cannot see it. Sorry.

[2016-09-01 05:10] rtUsmanKhan commented on #675
Thanks to you.
It is working now as you described me.

[2016-09-01 21:19] shaffe-fr opened #677 "Removing an item in a rv-each causes error if inner reference to the array"
In a `rv-each` loop, when I remove an item from an array that is referenced inside the rv-each, the following error occurs: `TypeError: callback is not a function`. The error only occurs if the array is not immediately in the scope object.

Obviously, we can fix the problem and extract the length in a new variable but I'm curious about this issue.

Here is the [fiddle](http://jsfiddle.net/464sw6tn

[2016-09-04 20:31] Namek commented on #661
hey @jccazeaux - both #644 and #650 seem to be done

also #619 @Leeds-eBooks ?

[2016-09-04 20:50] Namek commented on #601
@jccazeaux I just checked on it and it doesn't seem to work.

I have opened the fiddle made by @stalniy and replaced rivets.js with https://cdnjs.cloudflare.com/ajax/libs/rivets/0.9.4/rivets.bundled.min.js

Also tested `0.9.3` and `0.9.0` on current Chrome and Firefox.

The modified fiddle (rivets lib changed only) here: https://jsfiddle.net/ccqvd0un/
BTW when you open this file you'll see `0.9.3`

[2016-09-04 20:55] Namek commented on #661
also found #574 signatured as ES6

[2016-09-05 09:15] Leeds-eBooks commented on #661
@Namek thanks – I have a very bad memory, got links for the es6 PRs that fix these issues?

[2016-09-05 11:13] Namek commented on #661
heh, I was more asking than telling

[2016-09-05 14:10] Namek opened #678 "Switching `rv-if` causes binder to set up multiple times"
`rv-if` going to falsy doesn't destroy elements, it seems to just remove them from DOM and keep in memory.

STR:
1. set `rv-if` to truthy, binder's function should be called
2. set `rv-if` to falsy, nested elements should be removed from DOM
3. set `rv-if` to truthy again, binder function is called on same element as previously

When `rv-if` turns to truthy then it readds nested elements. However,

[2016-09-06 15:12] jccazeaux commented on #661
@Namek No they are not done. I just looked at the ES6 branch, the bugs are still there. To be sure we must report the tests first. I will do it when i have some time

[2016-09-06 16:14] Leeds-eBooks commented on #661
@jccazeaux that would be brilliant, thanks!

[2016-09-08 00:14] justinmetros commented on #632
The above override worked perfect! Thank you!

[2016-09-13 14:14] Namek commented on #646
I use http://minifiedjs.com/ and sometimes (rarely) rivets can't initialize because `jQuery is undefined`. Of course minifiedjs also initializes global `$` because it's meant to replace jQuery lib.

As @carnage explained it checks for `$` OR `jQuery` and then always try to use `jQuery`.

[2016-09-14 07:32] ericxin1982 opened #680 "How to use adapters"
Hi,

I try to learn rivets, I found it is very powerful.
I used other mvvm, but rivets adapters this concept to me is very strange, and I confused.
Does someone be able to show me a simple example how to use, and what is the perfect scenario for this feature?

Thanks
Eric Xin

[2016-09-14 09:39] Namek commented on #680
I assume you've seen description of the adapters on http://rivetsjs.com/docs/guide/

If you're playing only with simple JS Objects then built-in `.` (dot) adapter is enough for you. However, if you want to subscribe to changes on some other data that have some more complicated structure than simple Objects then you could register another adapter or completely overwrite existing one. The Guide ment

[2016-09-14 16:39] ericxin1982 commented on #680
I did.
So can I ask that further step?
user.address:city, what this string try to do?
Get user.address value, and then to get city value from correct address? That is the example for? Thanks

[2016-09-14 16:57] Duder-onomy commented on #680
@ericxin1982

To decompose the keypath `user.address:city` to the best of my ability in words.

Access the user from the root bound object, the root path is configurable, by default it is a `.`. Access the `address` property from the `user` by using the `.` adapter. Access the `city` property from the `address` using a `:` adapter.

The `:` property accessor signifies, get this property (really su

[2016-09-17 15:39] ericxin1982 commented on #680
Thanks.
I should read through sightglass first. That is new concept to me.

[2016-09-19 09:05] ericxin1982 commented on #680
@Duder-onomy
Please see the code below.
<head>
    <script type='text/javascript' src='rivets.bundled.min.js' charset='utf-8'></script>
</head>
<body>
        <div id="exc">
            <input rv-value="item.channel.A" rv-on-keypress="item.detect">
        </div>
        <script>
            channel = {
                A:'a'
            }
            item = {
                name:'Magneto',

[2016-09-19 10:27] ngelx opened #681 "rv-value not evaluated in option tag"
Hi, i'm having some troubles understanding why the following piece of backbone + rivets code is not working as expected.

Model.coffee
[code]

View.coffee ([BoundView](https://github.com/wmdmark/backbone-rivets-example/blob/master/tutorial.md#making-it-dry))
[code]
where `MainApp.getTemplatesRange` is something like:

[code]

template
[code]

The generated html is
[code]
note that the value in opt

[2016-09-19 19:12] Namek commented on #681
[code]

I'm not experienced with Backbone but have you registered custom adapter for `:` operator?

[2016-09-19 21:58] jccazeaux commented on #678
That's an interesting case. I do not have a direct answer, but as I see it you should implement `unbind` function on your binder to correctly handle the unbinding.

[2016-09-20 07:03] ngelx commented on #681
hey @Namek thanks for mention it. I've completed forget to add to the original description. Here is my adapter, in a fact, the whole rivets-config.coffee

[code]

[2016-09-20 09:21] Namek commented on #681
1. to me it looks more like a StackOverflow question than rivets issue.
2. "not working as expected" doesn't explain anything
3. plunker / jsfiddle

[2016-09-20 12:31] ngelx commented on #681
I though it was clear enough, but maybe it was too deep into the description. The issue was that:

In any case, you are right, it may be more suitable asking into stack Overflow.

Thanks  @Namek  for your time.

PS: I'm closing it as I've figured it out another way to do it using the _ template.

[2016-09-20 12:31] #681 closed

[2016-09-20 16:00] blikblum commented on #681
I tried to reproduce (simplified) the issue here: http://codepen.io/blikblum/pen/bwBZxw?editors=1010#0

It works, but i'm interested in narrowing the issue and would examine deeper a plunker / codepen / jsfiddle showing the problem

[2016-09-20 21:29] Namek commented on #646
@Duder-onomy wouldn't it make sense to merge #679 until next decisions about jQuery are made?

[2016-09-25 05:21] ericxin1982 opened #682 "how to pass input parameter into function through rv-on-xxx"
Hi All,

I'd like to pass something to function through rv-on-blur
rv-on-blur="item.dd('1')"

But it fails, how to do, anyone can teach me?

Thanks
Eric Xin

[2016-09-25 10:47] Namek commented on #682
Rivets does not analyze `item.dd('1')` as JavaScript expression/statement as Angular or some other libraries/frameworks do.

You could define `args` formatter:
[code]

and then:
[code]

[2016-09-25 16:23] ericxin1982 commented on #682
Thanks.
Array.prototype.slice.call(arguments…
Where arguments comes from above?
Is it a built-in keyword?

Thanks

[2016-09-25 19:10] Namek commented on #682
`arguments` is built-in keyword in JavaScript.

[2016-09-26 05:53] ericxin1982 commented on #682
Thanks so much!
Get learned.

[2016-09-27 05:09] ericxin1982 commented on #680
I understand now, close this issue.

[2016-09-27 05:09] #680 closed

[2016-09-27 05:29] ericxin1982 opened #683 "formater bi-directional, how?"
Hi All,

As what I get learned about formater is single way, from left to right through a "|" like pipeline,  rivets.js has bi-directional formater, what is that, how to use in which scenerio,  anyone can give me some example?

Thanks
Eric Xin

[2016-09-27 14:40] Namek commented on #683
I think the docs already say enough about this -> http://rivetsjs.com/docs/guide/#formatters but:

Note that there is **input** which is already thing that could be bound two-way:
[code]
A formatter will format the binding in the fly. Two-way formatter will format data going both ways - when model data is changed and passed to (in this case) input element and when input element is edited and data

[2016-09-28 02:04] mhanders opened #684 "When using jQuery, Data values on enumerated elements don't update with collection changes (they do, but jQuery does not know about it)"
If a collection is enumerated with `rv-each`, then data is set on each element via `rv-data-*`, removing elements from the lists messes up the associated data retrieved by `$.data`.

This [JSFiddle](https://jsfiddle.net/ze3u0cj0/3/) illustrates a direct example. Click the `Log data` and `Pop user` buttons to see how the `data` set doesn't jive with the popping.

It's not clear to me what would be

[2016-09-28 16:48] Duder-onomy commented on #684
I think I fixed it for you, can you confirm that this is the behavior you wanted?
https://jsfiddle.net/Vornagreg/64fx59gt/

The pertinent bits:
Updated you call to bind:

[code]

Then access it in the DOM via `model.users` and `model.killUser` etc.

This issue crops up all the time. You will always want to wrap most everything you bind in an object.
I cannot explain exactly why, but it happens all

[2016-09-28 17:43] mhanders commented on #684
Thanks for proposing a solution. I'm not seeing the problem resolved in that example.

The issue is that information stored in `$.data` becomes inconsistent as the list is modified. In the fiddle you posted I'm still seeing that, after popping the first user off, `$('p[data-name="Second"]').data()` gives me an object with `name: "First"`, whereas one would expect it to yield `name: "Second"`.

Do

[2016-09-28 18:26] Namek commented on #684
@mhanders use built-in browser DOM inspector to debug this.

`$('p[data-name="Second"]').data()` seems to be wrong because of caching stuff. See answer here: http://stackoverflow.com/questions/21588044/jquerys-data-attribute-does-not-update-when-element-data-changes

[2016-09-28 18:29] Duder-onomy commented on #684
Yeah, Thanks for clarifying,  I see what you are saying now.

Isnt that a problem with jquery though?
Cause if you look at the DOM, the attribute is in fact updated:

![image](https://cloud.githubusercontent.com/assets/1612785/18926986/b748e372-856e-11e6-95ad-37400b3228f8.png)

[2016-09-28 18:52] Duder-onomy commented on #684
Considering it is def a jQuery issue and not a rivets issue. As illustrated by @Namek

@mhanders  Can you close this?

[2016-09-28 19:11] mhanders commented on #684
Definitely. Thanks for pinning down!

[2016-09-28 19:11] #684 closed

[2016-09-28 21:23] blikblum commented on #684
This is a know rivets issue.

In the each binder, when the collection is already rendered, it reuses the elements. See https://github.com/mikeric/rivets/blob/master/src/binders.coffee#L193

It uses pop method of iterated views and then remove its element (the last one). When shift or slice method is used in the observed array, the elements <> data order desync.

See this updated fiddle to demonstr

[2016-10-02 14:56] ericxin1982 commented on #682
Sorry to ask one more question.
rv-on-keypress="item.detect | jump event elementID"

If I define a formatters named jump, how I can pass in an keypress event to function jump?
Since jump here need two functions,  one is event, another is element ID, which I would need it to be focused after key press takes place.

Thanks

[2016-10-03 03:48] ericxin1982 commented on #682
[example.pdf](https://github.com/mikeric/rivets/files/505457/example.pdf)
Hi I use the way you teach, but I got problem, please help me take a look at it.

[2016-10-03 03:51] ericxin1982 commented on #682
[code.txt](https://github.com/mikeric/rivets/files/505462/code.txt)
For easier testing, please use txt instead, thanks very much!

[2016-10-03 20:03] dswitzer opened #685 "rv-each not updating after changes"
I'm having an issue where the rv-each method is not updating DOM elements if the collection I'm using has changed. I'm using Backbone as the source for my models and collections. My expectation is that if the object passed to the {{rv-each}} binder changes, then the DOM should reflect the change.

I've put together an example that shows off the issue:

https://jsfiddle.net/dswitzer/10grn2d1/

When

[2016-10-05 01:30] #683 closed

[2016-10-05 05:41] ericxin1982 commented on #682
Anyone can help me here?

[2016-10-05 17:04] Duder-onomy commented on #682
@ericxin1982 I would like to help you.
Can you explain exactly what this is supposed to do?
`rv-on-keypress="item.detect | jump event elementID"`

If you write it out in psuedo code I can try and implement for you.

For Example:
When the user presses a key on this element, I want to call the detect method on the item with some information?

[2016-10-06 02:18] ericxin1982 commented on #682
@Duder-onomy , Thanks.
So detect originally is like this,  detect keypress is a enter code, if yes, return value set false, and move focus to another element by its ID.
But as I know, rivets.js does not support detect('xxxx') this way as putting element ID as input parameter, and harcode the elementID inside the function scope is not acceptable to me, so I have to use formattor this way to proceed

[2016-10-06 13:35] jccazeaux commented on #682
Hi, you should use the `args` formatter @Namek gave above.
In your case it will be used like this
[code]

[code]

[2016-10-07 01:17] ericxin1982 commented on #682
<td id="yy" rv-edit="item.edit" rv-on-keypress="item.detect | merge 'xx'">January</td>

detect:function(event,elid){
         console.log(event.keyCode);
         console.log(elid);
         if (event.keyCode === 13){
                  event.returnValue = false;
                  document.getElementById(elid).focus();
             }
}

rivets.formatters.merge = function(fn){
                let ar

[2016-10-07 01:32] ericxin1982 commented on #682
[code.txt](https://github.com/mikeric/rivets/files/515095/code.txt)
Hi @jccazeaux
This is the code I do debug, would you please take a look at it?
Thanks

[2016-10-07 01:41] ericxin1982 commented on #258
Hi @jhnns

https://github.com/mikeric/rivets/issues/682
I have an open issue, like what you described, not sure how to fix, would you please help me take a look at it?

Thanks
Eric Xin

[2016-10-09 04:55] kitanata commented on #685
I've also been struggling with this exact problem, while trying to incorporate rivets into my project.

[2016-10-10 19:51] jccazeaux commented on #661
@Leeds-eBooks  it took more time than I expected but it's done !

[2016-10-11 01:32] ericxin1982 commented on #682
I probably would use the input parameter to bind inside the element as parameter passed way. Thanks all.

[2016-10-11 01:32] #682 closed

[2016-10-11 09:17] Leeds-eBooks commented on #661
@jccazeaux Great work, thanks!

[2016-10-11 09:17] #661 closed

[2016-10-11 20:37] jccazeaux commented on #682
@ericxin1982 my bad I missed a point. Rivets sends by default the event in the event callback. But our `args` formatter replaced it. To prevent this here is the actual `args` code

[code]

Like this it will concatenate `args` parameters to configured parameters in rivets configuration. Configured parameters are [described here ](http://rivetsjs.com/docs/guide/#usage-configuring) (see `handler` att

[2016-10-12 07:46] ericxin1982 commented on #682
Thanks very much!

At 2016-10-12 04:37:21, "Jean-Christophe Cazeaux" <notifications@github.com> wrote:

@ericxin1982 my bad I missed a point. Rivets sends by default the event in the event callback. But our args formatter replaced it. To prevent this here is the actual args code

rivets.formatters.args=function(fn){
  let args =Array.prototype.slice.call(arguments, 1);
  returnfunction()  {
    re

[2016-10-12 09:35] ericxin1982 commented on #682
Hi @jccazeaux

Thanks for your help.
I went to jsfiddle.net, which does not work, but I console log it for details.

Should just pass arguments[0], pass whole arguments does not work actually.

return fn.apply(this, Array.prototype.concat.call(arguments[0], args))

Then it works.

I appreciate your help, which give me a deeper vision into javascript.

Eric Xin

[2016-10-12 18:31] kojilab opened #690 "rivets.init not rendering"
Hi,

I am loving rivets but I'm trying to use it with a routing library and can't figure out why my component is not rendering.
It's initializing fine when I do

[code]

but the component I created doesn't get inserted in $routeEl.

What am I missing?

Thanks a lot for this great library.

[2016-10-12 18:49] kojilab commented on #690
Figured it out. I needed to use

`var $routeEl = $('#router')[0];`

[2016-10-12 18:49] #690 closed

[2016-10-16 21:35] kojilab opened #691 "Component update"
How can I pass a new data/attributes object to a component once it has been initialized using rivets.init ? I've tried .bind, .update on the return of the init method but nothing works.

Thanks

[2016-10-16 22:52] kitanata opened #692 "rv-data-* gotcha with jQuery"
This isn't technically an issue / bug because Rivets is independent of jQuery but I did run across a subtle gotcha that manifests itself as a bug if you are using jQuery and Rivets together. So I want to document my finding here so if anyone else runs into this problem, they can get a quick answer and save some time.

This problem can manifest itself if you have multiple elements on the screen and

[2016-10-17 17:33] Namek commented on #692
@kitanata Seems to be the exact same topic - https://github.com/mikeric/rivets/issues/684

I think you stated things the opposite way. You shouldn't rely on jQuery on this matter.

[2016-10-17 17:35] Namek commented on #691
You should simply update the same object given to `bind()`. If I don't understand that then please cover your question with some code.

[2016-10-18 14:38] kojilab commented on #691
This is an example

[code]
Then later I want to keep the currentComponent and just feed it new data. Not sure how I can do this aside from reinitializing a new one.

Thanks

[2016-10-18 17:13] Namek commented on #691
`data.title = 'new Title'` should work

[2016-10-19 03:00] a-koka commented on #691
+1

I also tried this and don't see the component getting a new value. I was hoping something similar to a `routine` but looks like my attributes aren't updating when the data actually updates.

[2016-10-19 14:41] Namek commented on #691
it works, have a look: http://plnkr.co/edit/rGkAliZvMnJGj74Lf6qU

[2016-10-19 18:36] a-koka commented on #691
This issue is in regards to `components`. I understand that data usually propagates to `binders` via a `routine` and that works very well. The example above does NOT demonstrate a `component` where the `attribute` changes value after `initialization` which is where my problem lies.

Thanks!

[2016-10-19 20:23] Namek commented on #691
@a-koka yeah sorry, I understood that just after posting. I was in too much in hurry and still wanted to help.

I hope this is what you need:
http://plnkr.co/edit/gXNQuwXDuJHUHvYsppyh

[code]

[2016-10-19 21:05] a-koka commented on #691
You're right @Namek! I noticed an issue on my and and I was also using `0.8.1`. I have it working now on `0.9.4`. Thanks for your quick responses.

[2016-10-19 22:23] a-koka opened #693 "Incorrect version"
On `0.9.4`, all files under `dist` say `0.9.3` in their comments and except the bundled file, the other two files say `0.9.3` for their on the GitHub page as well. This is quite confusing. I am hoping that it is just an oversight and all files are actually `0.9.4`.

Would someone be able to confirm this?

Thank you!

[2016-10-19 22:37] a-koka commented on #622
@Leeds-eBooks I finally upgraded to `0.9.4` and everything seems to be working fine except the original issue. I know I owe you guys an example which seems a little hard to re-create in a very simple setup. The fix suggested by me on Aug 8th seems to fix the problem. I'll try to get a working example for you guys; just wanted to keep you all posted.

Thanks for all the hard work. Loving components

[2016-10-20 08:55] Leeds-eBooks commented on #622
I'll take another look at this. Which fix was suggested to you on Aug 8th?

[2016-10-20 09:05] Namek commented on #693
By looking at commits on https://github.com/mikeric/rivets/commits/master `0.9.3` and `0.9.4` are exactly the same. That was probably some mistake during publish. @Leeds-eBooks

Also changelog lacks of `0.9.3`:
https://github.com/mikeric/rivets/commit/012e3e16a6510d3c06cdff4e099644a5a38ab9cd

[2016-10-20 09:58] Leeds-eBooks commented on #693
Ah this was totally my mistake. Yeah it was a publishing error, I thought I'd caught all the references to `0.9.3`. The correct version is `0.9.4`. Do you think it's worth me pushing a `0.9.5` to fix all of this?

[2016-10-20 11:24] Namek commented on #693
Merge my latest PR and then release new ver :)

[2016-10-20 11:39] #646 closed

[2016-10-20 16:14] a-koka commented on #622
To be accurate, my fix is more of a hack. It is to update `rivets.binders['if']['unbind']` to as below. And I was able to create a working example :)

Notice what happens when you remove my customization to `rivets.binders['if']['unbind']`.

[https://jsfiddle.net/gwzqhp7v/](https://jsfiddle.net/gwzqhp7v/)

[code]

Would be great if `0.9.5` could address this bug as well.

[2016-10-21 09:21] Namek commented on #622
@a-koka did you maybe success on identifying which commit/change introduced the bug?

[2016-10-21 09:26] Namek commented on #622
@Leeds-eBooks @a-koka for bug hunt, notice that that overwritten `unbind` is not needed when in given fiddle you comment out this line: `application.view.name = undefined;` It may be something about sightglass.

[2016-10-22 01:07] blikblum commented on #622
Here are my findings:

When name is set to 'B', the "eq 'B'" binding is made visible (attached to parentNode) and this.bound is true

When name is set to undefined, the root if binding routine calls unbind for its nested view which calls unbind for "eq 'B'" binding setting this.bound to false but "eq 'B'" element is still visible (i.e. attached to parentNode)

When name is set to 'C', the root if

[2016-10-22 01:44] blikblum commented on #678
I did a test and removed nested.bind / unbind calls inside if.routine except the bind after nested is created.
The tests passes and the  behavior of this issue is not seem.

I think the reason to unbind / bind inside if routine is an optimization to avoid the nested view to be updated when its model data changes. Although is questionable since the cost to unbind/rebind may be bigger than the event

[2016-10-25 14:22] Leeds-eBooks commented on #692
@Namek Should we add this to the docs? @jccazeaux I still don't fully understand what the process is to contribute to docs – could you add that to the readme perhaps? Thanks!

[2016-10-25 17:26] Namek commented on #692
TBH I don't know but in some places even mentioning jQuery is evil so no :)

I believe rivets should have nothing to do with jQuery at all. If anyone would have same problem he/she should be able to find at least two topics on these Issues pages already. I suggest closing.

[2016-10-25 17:30] #692 closed

[2016-10-25 17:35] Leeds-eBooks commented on #676
This is strange, although first thing I'd say is that it seems dangerous in the first place to use the `innerHTML` of an element that is _already_ being parsed by rivets to produce the template string for a rivets component. I'll take a look at what the rivets component code is doing here.

[2016-10-25 18:13] Leeds-eBooks commented on #676
It's very hard to pin this down, but I think it's some kind of race condition where the component binding parses the template element's `innerHTML` _while_ the normal view binding is processing its curly-brace-delimited keypaths. [This line](https://github.com/mikeric/rivets/blob/master/src/view.coffee#L62) inserts processed values before their respective nodes in the template, i.e. `existingTempl

[2016-10-26 07:08] stianl commented on #676
Hi @Leeds-eBooks, thanks for taking the time to look into this. It's an interesting theory with the race condition! Although I'd _prefer_ that rivetsjs worked the same way for `<counter-component/>` and `<counter-component></counter-component>` (element of least surprise et.c.) I fully understand your view. It's good that we know have it documented anyway.

PS: On another note, the ThymeLeaf templ

[2016-10-26 07:59] Namek commented on #676
@stianl I would first ask the internet if the short style is even appropriate. Oh, and that's already on SO:
http://stackoverflow.com/questions/3558119/are-self-closing-tags-valid-in-html5
http://stackoverflow.com/questions/23353419/how-to-create-a-self-closing-html5-tag-like-br

Standards and backward compability.

[2016-10-26 08:24] #693 closed

[2016-10-26 08:33] Leeds-eBooks commented on #676
@Namek interesting – I didn't know that self closing tags were usually invalid, I never use them. This might explain the difference in behaviour between closing the component tag manually vs self-closing. But unless I misunderstood, @stianl's issue only happens when the _valid_ variant – a manually closed tag – is used.

That SO answer gives a clue to what might be happening here. A self-closing t

[2016-10-26 11:06] Leeds-eBooks commented on #677
I've just spent a little while debugging this and came across something interesting. CoffeeScript converts `for ... in` to a standard old-school `for ( ; ; ) { }` loop. However, it tries to be clever by doing the following:

[code]

The problem is, as you are splicing, the `_ref4.length` (i.e. the length of your array) changes during the loop. If we replace the above with the below, no error is th

[2016-10-26 11:41] blikblum commented on #677
Or use forEach

[2016-10-26 11:44] Leeds-eBooks commented on #677
@blikblum Is that safe in this case? MDN says [this](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach#If_the_array_is_modified_during_iteration_other_elements_might_be_skipped.).

[2016-10-26 11:57] blikblum commented on #677
Its one of the reasons why forEach is slower than for loop.

The same issue ocurred in #644

The es6 version was not affected because use forEach

[2016-10-26 11:59] shaffe-fr commented on #677
I would use the typeof check.

[2016-10-26 13:11] scriptPilot opened #694 "[Question] Prevent rv-each from removing a dom object"
Hi there! Is there a way to prevent the removal of a dom object? So - I would like to have the creation and the update, but not the removal. That will be done manually with animation. Cheers!

[2016-10-26 15:55] Namek commented on #676
and tag name must consist of two words with hyphen inbetween.

Glad you made some clue of it.

[2016-10-27 01:15] kojilab commented on #470
Looking for the same thing but on top of a component.

[2016-10-27 12:38] kojilab commented on #691
Thanks for those good examples. Helped me a lot.
In my case I have a router library and a component for each page. If the user goes to a page/route that uses the same component, I want to keep that component and just update the model.

So I had to do something like this based on your examples:

[code]

[2016-10-27 12:38] #691 closed

[2016-10-27 15:37] kojilab commented on #470
Thanks to Duder-onomy for the example. Helped me build a custom rv-each with a ready callback
[code]

[2016-11-03 15:49] a-koka opened #695 "Angular bracket on observables interfering with Webpack minification"
The `<` we are using to define observables is causing Webpack minification to break as it assumes that we are using bad HTML syntax. Any chance this can be added as a configurable parameter?

Happy to submit a PR if you guys think this would be a good idea.

Thank you!

[2016-11-04 17:05] codeMonkeyAndy commented on #685
Hi all, I'm battling with this as well, so far I've found that during a View.sync operation, the child Views are not being iterated through, I've hacked in a small change that appears to allow this behavior, let me know if it helps at all :)

`View.prototype.sync = function ()
        {
            var binding, _i, _j, _len, _ref1;
            _ref1 = this.bindings;
            for (_i = 0, _len =

[2016-11-11 00:41] a-koka opened #696 "executeFunctions disallowing call"
My app is set to use `executeFunctions` as we have 100s of functions written out using the old syntax. I'd love to use `call` so that parameters can be passed into functions but seems like `executeFunctions` disables the ability to use `call`.

I realize that this may be a bit of a corner case. Just wondering if there are any suggestions around this issue besides re-writing all the functions with

[2016-11-23 13:10] peerbolte opened #697 "Double function call: bind scope."
I have the following example: https://jsfiddle.net/zxka0wef/

If the inner component button is clicked, the function is called in both the app scope and the component scope (see console). Is there a way to avoid the call to the app scope when clicking the component button when using this format?

[2016-11-30 17:24] realves opened #698 "Magicsuggest integration"
Hi! How i can integrate magicsuggest jQuery plugin on dinamyc row tables?
No problem To add magicsuggest on adding row.
But on deleting row values of input losts their order...

[2016-12-01 09:36] realves commented on #698
Here is my code! Help me!

`
		var rowList = [];

		...

		var controller = {

			...

			addRow: function(e, model){

				console.log("ADD ROW");

				newRow = 0;
				if(model.data.rows.length){
					newRow = (model.data.rows[model.data.rows.length-1].id)+1;
				}

				console.log("New id = "+newRow);

				model.data.rows.push({ id: newRow, elem: [], value: ""});

				rowList[newRow] = $('.ms_lis

[2016-12-01 10:25] blikblum commented on #698
Where are you using rivets?
I working fiddle would help.

[2016-12-01 10:35] blikblum commented on #698
If you are using rv-each you may hit this know bug: https://github.com/mikeric/rivets/issues/515

[2016-12-04 20:12] snify opened #699 "Uncaught ReferenceError: sightglass is not defined (Electron)"
I tried to use the latest 0.9.6 from CDN. And every time I get

Why is this?

[2016-12-04 20:39] blikblum commented on #699
You will need rivets.bundled or add also sightglass

[2016-12-05 10:07] snify commented on #699
I used rivets.bundled.min.js. Tried with sightglass and then rivets and it still shows undefined. I'm not sure where the bug is... maybe it's related to ES2016 support? Because with nw.js it works. Included in Electron it says 'undefined'

[2016-12-05 16:11] blikblum commented on #699
No idea, whats going on.

You can try this build: https://github.com/blikblum/rivets/tree/svelte/dist

It integrates sightglass into rivets so should not have this problem

Be aware that has some other changes that may fit or not your requirements. You can check them at https://github.com/blikblum/rivets/tree/svelte

[2016-12-07 12:21] snify commented on #699
Somehow it works with your build, but not with the official one. Thanks

P.S. TO THE AUTHOR: It would be nice to see what's going on. I can't seem to find the problem.

[2016-12-07 14:46] maxmumford opened #700 "Updating the model from within an rv-each doesn't update the DOM"
Hi all,

I'm trying to update my model from within an rv-each but the DOM isn't updating as a result.

I use rv-each to create a bunch of inputs, one for each object in a list. On input keyup, I check the validity of the input value, and update a "valid" flag on the model. This all works and the console prints the correct value for the validity flag, but the DOM isn't updated as a result.

My sleu

[2016-12-07 14:59] kojilab commented on #700
I think it has something to do with passing model in your event handling function. It's not the same model object it looks like if you remove it, it works.
https://jsfiddle.net/Lowe2n77/

[2016-12-07 16:18] maxmumford commented on #700
... you're right. That's pretty damn bizarre... so am I right in thinking accessing the model passed in by rivets, or the original declaration of model (declared when binding rivets for the first time) is exactly the same? Is there a best practice for one or the other?

[2016-12-07 16:26] kojilab commented on #700
I always access the "higher scope" variable if I may call it that way. Never tried to do it your way :)

[2016-12-07 16:27] maxmumford commented on #700
Ok thanks, I'll do the same :)

[2016-12-07 16:27] #700 closed

[2016-12-07 21:07] blikblum commented on #700
Rivets clone the properties of the model. It has some side effects like the above.
In my branch i chenged to not clone the properties. Here is a fiddle: implementing the behavior with my changes: https://jsfiddle.net/9pazye3c/3/

[2016-12-14 12:39] maxmumford commented on #700
@blikblum thanks for the info, it seems like very counterintuitive behaviour to me... why provide the model at all if it's a clone and we just have to access the higher scope model anyway? Perhaps I'm missing something? @mikeric could you shed any light?

[2016-12-14 19:28] Leeds-eBooks commented on #700
Ok sorry for missing this one. This actually has **nothing** to do with cloning. Here is an updated fiddle that works: https://jsfiddle.net/LeedsEbooks/9pazye3c/4/

There is another closed issue regarding this precise problem but I can't find it now. **TL;DR**: all top-level properties of the model object must be objects or arrays. Top-level primitives will not be observed for changes.

The proble

[2016-12-14 22:30] blikblum commented on #700
These are related issues: https://github.com/mikeric/rivets/issues/486 https://github.com/mikeric/rivets/issues/512 https://github.com/mikeric/rivets/pull/417

They are observed, just evaluate with devtools scope.main and scope.nested properties from this [fiddle](http://jsfiddle.net/cszzj3vp/1/) and note that these properties are transformed with getters and setters. But due to property being cop

[2016-12-15 22:16] fsvieira opened #703 "Using rivets on cordova android."
Hi, I am doing a application on cordova to run on android, I am using rivets.

I load the template successfully with jquery and than I bind the data with rivets but it doesn't show any data, on element inspect I can see that no data is set on elements.

What can I do to debug and solve this issue?
Thanks, great lib.

[2016-12-15 22:57] Namek commented on #703
Can you verify your code works on desktop browser? Plunker?

[2016-12-15 23:31] fsvieira commented on #703
Hi,

It is working ok on the browser, but I made some more tests and the bug seems not to be on rivetjs, I made a basic test with a counter and it updates ok.

Sorry for the trouble, I will close the issue.

[2016-12-15 23:31] #703 closed

[2016-12-27 15:18] midget2000x opened #704 "update results view with click on pagination"
This is more of a "Rivets 101" question than an issue, but I didn't know where else to ask...

I'm brand-new to the idea of javascript frameworks. Currently, I am currently using handlebars to create a view (of search results) from JSON data. That works fine, except I have to update the entire page by requesting a new URL as the user paginates thru the results. Ideally, I'd like to update only the

[2016-12-28 15:50] Namek commented on #704
The object you pass into the bind function contains the data. Store that
 object in some variable and change the data properties dynamically using
this variable. It should update the view.

For clicks take a look at http://rivetsjs.com/docs/reference/
`rv-on-[event]`

I agree on that the guide is pretty bad for newcomers.

[2016-12-29 05:15] midget2000x commented on #704
ahhh...OK, that makes sense.  Thank you!

[2016-12-30 02:24] nbarbettini commented on #700
@blikblum Sorry to ping an old issue, but is there an issue I can follow for fixing the "observing root properties with primitive values" problem?

[2016-12-30 10:07] blikblum commented on #700
AFAIK no.

I proposed it, among other changes, in #558 .

Later when i already implemented i pointed how to fix through https://github.com/mikeric/rivets/issues/486#issuecomment-239181967

[2017-01-23 13:00] erdalkaraca opened #705 "jquery events vs. js/dom events"
I have a custom binder that uses jquery on(...) events binding.
The binder works as expected in Opera but fails in other browsers.
First, I thought this might be a browser caching problem. but then I debugged the rivets sources to observe that rivets checks whether jquery is available or not and hence decides for either jquery events or js/dom events.

To make it short: I had to make sure that jqu

[2017-01-23 14:47] Leeds-eBooks commented on #705
Which version of rivets are you using?

[2017-01-23 16:14] erdalkaraca commented on #705
I am at 0.9.3

[2017-01-23 16:24] Leeds-eBooks commented on #705
Could you try updating to `0.9.6` and see if it fixes your issue? `0.9.5` [added a fix](https://github.com/mikeric/rivets/blob/master/CHANGELOG.md) regarding jQuery usage.

[2017-01-23 16:30] erdalkaraca commented on #705
With 9.6.3 I get this error in the console:
`Uncaught TypeError: jQuery is not a function
    at Binding.routine (rivets.js:1026)
    at Binding.Rivets.Binding.Binding.set (rivets.js:653)
    at Binding.set (rivets.js:7)
    at Binding.Rivets.Binding.Binding.sync (rivets.js:658)
    at Binding.sync (rivets.js:7)
    at Binding.Rivets.Binding.Binding.bind (rivets.js:719)
    at Binding.bind (rivets

[2017-02-07 16:11] toby1kenobi opened #706 "Event handling"
Rivets looks really useful, but I'm struggling with the documentation. If I use rv-each-* to output a list of items, and I want something in each to be click-able, is there are rivet-y way of hooking these up or should I just use jQuery or something?

I can see [here](http://rivetsjs.com/docs/guide/#usage-configuring) a reference to augmenting 'the event handler of the on-* binder', which sounds h

[2017-02-07 16:13] toby1kenobi opened #707 "Broken link to latest version"
Pretty much the first link in the [guide](http://rivetsjs.com/docs/guide/#install), to download the latest version of rivets.js, is a broken link. It's this one:

You can grab the latest stable release [`here`](http://rivetsjs.com/dist/rivets.min.js) or install

[2017-02-08 21:13] Leeds-eBooks commented on #707
Thanks for this. @jccazeaux Do you think you could write up very briefly how you updated the docs in the past? I don't know how it works and it seems complex. I'd love to be able to edit/update the website myself.

[2017-02-08 21:19] Leeds-eBooks commented on #706
Hi, sorry for the delay. This is exactly the kind of thing rivets is for. You simply use the `on-*` binder, as referenced [here](http://rivetsjs.com/docs/reference/#on-[event]). So your html might look like (where `items` is an array and `openItem` is a function):

[code]

Does that help at all?

[2017-02-09 10:10] toby1kenobi commented on #706
Thanks, that looks great - not sure how I'd missed it!

[2017-02-09 10:13] Leeds-eBooks commented on #706
Cool, closing this, feel free to open another issue if you have any other problems!

[2017-02-09 10:13] #706 closed

[2017-02-23 14:58] jccazeaux commented on #707
Oops sorry @Leeds-eBooks i missed this message.
Here are the steps to update the doc

1. Code your changes on `master`
2. On your computer (synced with remote of course) launch the script `doc.sh` (this script will update the doc on `gh-pages` branch)
3. Push `gh-pages` branch `git push origin gh-pages:gh-pages`

[2017-02-23 16:04] Leeds-eBooks commented on #707
@jccazeaux No worries, that's excellent, thank you!

[2017-02-27 04:18] kitanata commented on #699
I had this issue awhile back. I "fixed" it by monkey patching the imports not to do any of the various import/export stuff from commonJS or ES6, and then concatenated them into a vendor.js file that gets placed as a script file within the <script> tag in the index.html file within Electron. Rivets and sightglass are included separately, with jquery coming before sightglass which comes before rivet

[2017-02-27 15:14] Namek commented on #452
#512 seems to be related

[2017-03-06 19:49] milonas115 opened #708 ""if" binder"
Is there a reason why the "if" binder recreates the model? This causes strange 2 way binding errors when working with rv-on-* events. Since the event passes the model, it's passing the new model instance, not the model that rivets was binded to (obviously making any changes not get reflected to the original model). I circumvented this by just passing "this.view.models" directly.

`(this.nested ||

[2017-03-06 20:54] blikblum commented on #708
See https://github.com/mikeric/rivets/issues/512 and propposed fix at https://github.com/mikeric/rivets/issues/486#issuecomment-239181967

[2017-03-07 04:08] ericxin1982 opened #709 "component"
Hi Team,

So just wondering whether there is a full example for component where I can learn?

Thanks
Eric Xin

[2017-03-07 14:47] Namek commented on #709
Hi, does the Guide misguide you or just want to see a plunker?
http://rivetsjs.com/docs/guide/#components

[2017-03-07 14:58] ericxin1982 commented on #709
Hi, if there is an available jsfiddle would be great, I can have an online try. I am not sure plunker means.
And I do not know what it means as below:
return JST['todos/todo-item']

At 2017-03-07 22:47:42, "Namek" <notifications@github.com> wrote:

Hi, does the Guide misguide you or just want to see a plunker?
http://rivetsjs.com/docs/guide/#components

—
You are receiving this because you authore

[2017-03-07 15:05] Namek commented on #709
In the `JST` part you simply provide a template. This has to be a string containing HTML that uses normal rivets bindings etc. In my case it is:
[code]

and the template is injected into `<head>` part of website by PHP:
[code]

[2017-03-07 15:13] ericxin1982 commented on #709
would you mind giving me the a whole picture, I am confused. @Namek

[2017-03-08 04:34] milonas115 commented on #708
That is not a fix. That will break everyone's implementation across the board. Formatters/Events receive the model without any of the fields in place, except for the $parent field.

[2017-03-08 04:54] milonas115 commented on #486
HIGHLY suggest to modify the event handler method.

[code]

[2017-03-08 06:56] ericxin1982 commented on #709
Hi Namek,

Would you please give me these two html files, so I can have a better understanding.
I am too new to this part.

Thanks
Eric Xin

At 2017-03-07 23:05:44, "Namek" <notifications@github.com> wrote:

In the JST part you simply provide a template. This has to be a string containing HTML that uses normal rivets bindings etc. In my case it is:

template:function() {
	return$id('member-list-te

[2017-03-13 04:09] milonas115 opened #710 "SightGlass Default Adapter Iteration"
Iterate the "change" callbacks backwards. Ran into an issue where I was unbinding a callback in the middle of the callback loop, causing indices to change, totally skipping a callback.

[code]

[code]

[2017-03-17 22:38] AntoineInsa commented on #334
Hey!
I actually run into a possible related issue, where rv-show and rv-hide don't follow the state of a radio-button (even though the text interpolation is). Here are more details https://jsfiddle.net/yhy6w5z9/6/

[2017-03-21 14:21] mkastner commented on #677
I would really love to see this issue solved because it's still around. I've tried to change the for loop like @Leeds-eBooks described it, an the error does not happen anymore. So at least now I can fork it and fix the problem for the time being.

Thanks @Leeds-eBooks for pointing to the root of the problem.

[2017-03-25 13:19] boussou commented on #500
So... what is the status now?
maintained? forked?

[2017-03-30 10:11] diachedelic commented on #452
It seems like `rv-if` just does not rebind, am I right?

http://jsfiddle.net/h53tfahn/

[2017-04-10 12:45] Namek commented on #452
@diachedelic what can you see in output? I see both "updated" which seems OK.

[2017-04-10 12:57] diachedelic commented on #452
Oops I forgot to fork that fiddle.

I have made a new one which shows the exact problem I'm having: `rv-src` is never rebound if there is an `rv-if` on the same element

http://jsfiddle.net/bLwdbr2o/

[2017-04-10 13:06] Namek commented on #452
@diachedelic by trying this, you can see that rv-if alone works but doesn't trigger update of other directives: http://jsfiddle.net/qobb51ed/

[code]

[2017-04-10 13:14] diachedelic commented on #452
Look at this weirdness - `rv-text`, `rv-src` nor `rv-title` are being rebound

http://jsfiddle.net/ryL2zqt7/

[2017-04-17 18:29] brtthomp commented on #699
Any more ideas on this problem?  I'm having the same issue and can't get @blikblum build to work and @kitanata idea didn't seem to help either.

[2017-05-01 17:12] dswitzer commented on #685
I updated my example. Turns out I need to run trigger the {{sync()}} method in some cases. This happens when I have an {{rv-if}} binder attach.

See the following example:

https://jsfiddle.net/dswitzer/10grn2d1/4/

Run the example, then remove the comment for the {{fixBinder()}} at the end of the script and run the example again.

You'll see that it works correctly.

If you remove the {{sync()}}

[2017-05-04 15:10] dswitzer commented on #685
I was able to spend a little more time on this today.

Since this problem only seemed to affect Backbone collections, I wanted to dig into the adapter to see if it could be resolved by changing the adapter.

I was able to fix the screen synchronization issues, by changing the adapter I'm using:

https://jsfiddle.net/dswitzer/10grn2d1/6/

The trick was to apply the default adapter when the object p

[2017-05-12 13:41] stevechilds commented on #532
Having it raise an error could in theory introduce a huge backward compatibility break.

Far better (imo) is a config open whereby you can enable that functionality if you want. It defaults to false (i.e. off, so it behaves as it does now) and you turn it on if you want to raise exceptions.

[2017-05-22 13:43] sandeshgum opened #711 "Rivets formatter when each argument is another formatter"
I want to check if table.value is equal to 'Stack' or 'Overflow'.

I would like to do something like this:

[code]
I would like to use those 2 formatters to achieve this.

I know I can have a specific formatter like this to achieve my functionality.

[code]
But, I would rather use the above two generic formatters (eq and or).

What is the best way to achieve this

[2017-05-22 16:50] Namek commented on #711
I have encountered same thing once. I have solved this by providing such `anyOf` formatter:
[code]

Usage:
[code]

To me this one feels generic enough, it's readable and understandable.

[2017-05-22 20:51] sandeshgum commented on #711
Thanks for the response. It does look better than my solution. But, I would still like a generic way to have a formatter where it has multiple parameters that can be formatters.

[2017-05-23 07:26] Namek commented on #711
# RPN

What you want is probably a support for expressions - a hierarchical structure of nesting binary expressions. Formatters are linear, though. So there is no support for nesting. I tried to think of anything like this and it would be possible using https://en.wikipedia.org/wiki/Reverse_Polish_notation underneath. However, the syntax would be a little weird.

Formatter would need to pass some

[2017-05-24 14:10] Namek commented on #709
Hi, sorry fo taking so long. You may take inspiration from this article:
https://www.namekdev.net/2017/05/binding-with-rivets-js-details-and-tricks/

or this live example:
http://plnkr.co/edit/gXNQuwXDuJHUHvYsppyh?p=preview

the live example was already mentioned so you didn't dig well enough:
https://github.com/mikeric/rivets/issues/691

Please consider closing this issue.

[2017-05-24 14:14] Namek commented on #705
@erdalkaraca AFAIR I have encountered similiar problem, may the **0.9.6** fix that with https://github.com/mikeric/rivets/commit/a33ce65f6199cc5edc97e1247c0a4ca789fb3829?

[2017-05-24 14:30] Namek commented on #696
Probably issue is too old and you choosed one of two paths.

Personally, I don't think this corner case would be worth implementing. It feels smelly. To me it doesn't sound to be that big change since it's easy to just add ` | call` everywhere.

[2017-05-25 12:26] Leeds-eBooks commented on #696
Yeah I'm afraid `| call` _was_ our solution – it's one or the other. Closing.

[2017-05-25 12:26] #696 closed

[2017-05-25 12:27] Leeds-eBooks commented on #709
Looks like @Namek has replied fully, please reopen if you need.

[2017-05-25 12:27] #709 closed

[2017-05-25 12:35] Leeds-eBooks commented on #711
I agree that this is out of scope. You could very easily implement the expression parser as a formatter, as @Namek says. Implementing it in rivets core would increase the size of the package considerably. There could be some mileage with the use of parentheses, but I think it opens a can of worms – in your example, you used `or (table.value | eq 'Overflow')`, but what if you used `or (a-totally-di

[2017-05-25 12:35] #711 closed

[2017-06-04 04:57] luikore commented on #452
I have a simple fix for this problem by not copying model in rv-if's routine in src/binders.coffee

[code]

But don't know if it may cause other problems?

[2017-06-04 12:25] Namek commented on #452
@luikore I'm still note sure what was the purpose of creating a new object because I didn't look into that too deeply. However, you might want to look here:
https://github.com/blikblum/rivets/commit/7203c105c194d4d554c4f567c78c437dea8726eb#diff-72d0612bafa6e737e475d5bce8cbab4cL169 which commits to a branch https://github.com/blikblum/rivets/tree/svelte

[2017-06-04 15:21] blikblum commented on #452
In the svelte fork i changed how scope is created, basically by not shallow copying the models in the nested scopes. Instead, it uses prototype like inheritance. It searches the property to bind in the current scope, if not find search in parent scope until find the root scope.

Each scope has a $parent property pointing to parent scope.

This is similar how vue works.

It has some advantages. Fix

[2017-06-28 00:33] gitowiec commented on #500
Tessa, what's up? Everything seems happened a year ago...
I hit https://github.com/mikeric/rivets/issues/427 so I just checked other issues, and maintenance status just came up. @mikeric could you post on Twitter for a maintainer if you are out of time?
Best regards

[2017-06-28 11:38] jccazeaux commented on #500
I hope it's maintained. @Leeds-eBooks are you still there?

[2017-06-28 11:44] Leeds-eBooks commented on #500
I am here, but so busy and also I'm using Rivets less than I used to, which makes it hard for me to dedicate time to it. I would love for more people to be involved in maintaining this repo. I don't know how many people have push access, but it feels like for a while it has only been me merging PRs, and that's not sustainable.

[2017-06-28 12:46] jccazeaux commented on #678
After some time i think the optimization causes some problems. If a binder is unbound it should be totally removed and not "cached" for further use. The problem can be seen in components too. See this fiddle

https://jsfiddle.net/gzyL2wnd/1/

We see that a unbound component keeps a state. It's not logic. The initialize function should be called any time the component is bound. If we want to keep a

[2017-06-28 12:59] Varkal opened #712 "Is maintained ?"
Hello,

I just found this project. It seems pretty cool, but before use it on my new application, i want to know if it's always maintained.

No commit since October 2016, 32 PR, 105 issue.

[2017-06-28 13:13] blikblum commented on #500
I forked it here https://github.com/blikblum/rivets/tree/svelte

It fixes some bugs (see notes) and improve memory usage and performance.

It has a few breaking changes though.

I will at least fix the bugs with rv-each desync after array changes

As for performance you can compare [this](https://codepen.io/blikblum/pen/eJKOXo) with [this](https://codepen.io/blikblum/pen/jAdqbY?editors=1111)

Time

[2017-06-28 15:53] Namek commented on #500
I do not maintain the project directly but I looked into it from time to time as you would see from issues. Now I don't use it anymore since I left my job.

However, I managed to write two articles about rivets:

https://www.namekdev.net/2017/05/my-small-secret-web-weapon-to-bind-things-rivets-js/
https://www.namekdev.net/2017/05/binding-with-rivets-js-details-and-tricks/

[2017-06-29 07:40] jccazeaux commented on #500
I don't know either how many havec push access. @mikeric can you tell us?
If I had access I could do some updates.

[2017-07-04 01:43] blikblum commented on #515
I fixed the issue in my fork. See commits:

a9e0c1419fc677b2dc2446cbde646e0f001d30a2
00e34950128f4619dc21ba9f1832e363b9199cae
5bccf013699208de8ec53dc063bc2e5d1d3ab88b

[2017-07-04 02:09] blikblum commented on #685
FYI: i fixed this bug in my fork: https://github.com/blikblum/rivets/tree/svelte

It was the same bug as #515

See https://jsfiddle.net/10grn2d1/8/

[2017-07-17 12:16] boussou commented on #500
@blikblum Hi, your fork uses direct JS right? I did the same,  adding comments on the compiled coffee.
I think your version is perfect for me: especially your work to resync after array change.

The whole is 1500 SLOC: amazing ani-bloat  piece of code.

[2017-07-20 20:18] seefo commented on #712
Considering that this hasn't received a reply and the fact that all branches other than master are stale, it is probably safe to assume that this project is no longer actively maintained.

[2017-07-21 07:22] Namek commented on #712
Please take a look at responses from this year in this topic: https://github.com/mikeric/rivets/issues/500

[2017-07-26 08:12] jccazeaux commented on #500
@blikblum Maybe you could send PR here for your non-breaking changes?

[2017-07-26 08:14] jccazeaux opened #713 "Allow async load of components templates"
The `template` function in component bindings only allows sync load of a template. If you want async load (for exemple load template from server with ajax) it's not possible

[2017-07-26 08:22] jccazeaux commented on #713
PR sent, template function can now have a callback as parameter. If this parameters is defined, rivets will use it to wait for the template.

[2017-07-26 22:51] gitowiec opened #715 "Component does not see change of model property"
I need to change the value of binded property for custom component, I have a rv-each-*="model.tickers" loop working on this:

[code]
My component is defined like this:
[code]

The Rivets is initialized like this:

[code]
When I use in a browser <select rv-value="model.portfolio_id" name="portfolio_id"> to change model.portfolio_id value - it's fine, it changes the value. But I would like to <ticke

[2017-07-28 10:12] blikblum commented on #500
There are some issues

- the branch is written in es6
- the relevant changes are breaking
- the non breaking are just cosmetic

[2017-07-30 18:19] laphilosophia opened #716 "svg sprite (xlink:href) render problem"
Hi all.

I call icons in the project using the svg sprite method. But the icon does not appear when rivets render. I could not find a solution what I did. there is any solution, you know about that?
(sorry about my english)

Here is the sample code: (with pug)
`svg(class="icon view-icon) use(rv-xlink:href="item.icon")`

and the rendered result:
`<svg class="icon view-icon"><use rv-xlink:href="item

[2017-07-31 16:38] TilP commented on #500
I am a fan.   I am an avid AngularJS user, familar with the newer Angular too.   Rivets is a fantastic library, I plan to use it to simplify projects.   I think the Industry is overcomplicating things a bit.  Thanks

[2017-08-03 23:03] tamarmot opened #717 "glyphicons referenced in bootstrap.css that is not there"
bootstrap.css references ../fonts/glyphicons-halflings-regular.eot but the file is not included.

[code]

[2017-08-04 13:59] benjamreynolds commented on #717
I don't think this is that big of a deal. It doesn't look like the doc pages use any glyphicons, so it shouldn't be affecting anything. (Just an annoyance that a file is being referenced that isn't there.)

[2017-08-15 22:51] Andrinoid opened #718 "Is there any way to use WC3 valid attributes for rivets?"
First of all, thank you guys for the wonderful framework.
Here is my issue. I'm get WC3 error for every rv- attribute I have on my page. Is there anyway to use valid attributes with rivets.

[2017-08-17 10:33] Namek commented on #718
Maybe change the prefix from `rv` to `data-rv`? Search "prefix" in "Configuring" section on http://rivetsjs.com/docs/guide/

[2017-08-17 15:02] Andrinoid commented on #718
Thank you. I had to use only data as prefix. I might be wrong but I think the hyphen is used as a logic separator in some binders so data-rv failed in some cases.  Below is the configuration that worked for me.
[code]
then in my templates
`<div data-if="app.someValue">`

[2017-08-17 15:02] #718 closed

[2017-08-29 06:43] dnasir opened #719 "rv-value does not get applied on bind for input type range"
I was trying to get the binding working for a range slider input, but using `rv-value` does not apply the value to the input on bind.

Here's a plunker for reference: https://plnkr.co/edit/tYBuzQyShxWDpSOYiiCZ

[2017-08-29 08:27] dnasir commented on #719
I'd also like to add that the browser used when this happened was Chrome 60.0.3112.101. It seems to be working perfectly fine in Firefox, Internet Explorer and MS Edge.

[2017-08-29 08:45] dnasir commented on #719
Actually, scratch that. It doesn't work in Firefox either. I added a custom binder to make it work. Then I reverted the changes because I thought everything was working fine in FF. Duh...

[2017-09-03 10:29] yousiedu opened #720 "Add components dynamically in rivets.js not working"
this is stackoverflow link
[https://stackoverflow.com/questions/46021634/add-components-dynamically-in-rivets-js-not-working](url)

[2017-09-05 02:30] #720 closed

[2017-09-11 14:30] mikepuerto commented on #67
@khanSufiyan I can't believe that code was resurrected. It was probably 5 years old. lol....

[2017-09-29 04:52] jiangtianyou opened #721 "the rv-show doesn't work in this case"
the rv-show doesn't work in this case，when to hiden after choosed show -->  [codpen demo](https://codepen.io/anon/pen/mBwJZN?editors=1111).

[2017-09-29 05:39] jiangtianyou commented on #721
rv-if rv-hide also have this problem . any one can help ?

[2017-10-02 15:49] ultradeq commented on #716
Hi,
I had the same problem and solved it with custom binder:
[code]
HTML:
[code]

[2017-10-13 23:00] ShqipognjaLL commented on #515
A little late to the party, but just want to point out that in addition to the aforementioned issues, it appears that when the model is re-arranged , sorted or added to anywhere not at the end of the list, that the model attached to the element is also juxtaposed improperly.  For example if I have

`<li rv-each-item="model.items" rv-hasvaluechanged="item.bool">item.value</li>`

with the model look

[2017-10-17 01:21] #721 closed

[2017-11-05 02:35] jiangtianyou opened #722 "View don't update when use [].pop.call(thisObj) to change array model."
https://codepen.io/jiangtianyou/pen/PONXaB

anybody can explain why?thanks

[2018-02-15 18:53] rejhgadellaa opened #723 "Link to dist on website is broken"
The link to the dist on the website (http://rivetsjs.com/docs/guide/#install) is broken:
http://rivetsjs.com/dist/rivets.min.js

[2018-02-16 13:47] blimpmason commented on #699
I'm getting the same error (Uncaught ReferenceError: sightglass is not defined) when using rivets bundled in a Browserify module. @blikblum's build link is no longer active.

[2018-02-16 14:23] brtthomp commented on #699
@blimpmason
The fix I have been running with is either changing the code as @kitanata suggested.  The other way I have been doing it is via the HTML code below.  You could probably modify that to work if you are using `require`

[code]

[2018-02-21 18:35] jcrosby10 opened #724 "Not working on mobile"
I have a webapp that I am converting to a mobile app using Cordova. The only thing I can't seem to get working is rivets. I have tried on an Android device, iOS device and in a browser on my computer and all I see throughout the pages are `{}` containing pointers to the data we want to show but not the actual data. I'm not sure if I'm missing some configuration or dependency or if rivets is knows

[2018-02-22 09:36] #719 closed

[2018-02-23 16:44] jcrosby10 commented on #724
Turns out that the issue was the code that actually bundled the data to the UI and some of the data itself was not included in the browserify bundle. Once I added those js files to the bundle it worked like a charm. I'll close this issue.

[2018-02-23 16:44] #724 closed

[2018-02-26 07:51] dnasir opened #725 "Including jQuery AFTER rivets breaks rv-value binder"
This is most likely due to rivets assigning the jQuery object to a local variable during its initialisation phase. This bug can be demonstrated here:

http://embed.plnkr.co/dlHcGbS9kq8uCjGjdYKR/

A simple fix would be to use `window.jQuery` instead of the local variable, as demonstrated here:

http://embed.plnkr.co/xDiwQh/

I am personally in favour of removing dependency on jQuery altogether, and

[2018-03-06 11:28] JumpLink commented on #470
You could try this:

[code]

[2018-03-07 01:02] #454 closed

[2018-04-03 05:08] mm-ns opened #726 "DOM not updating when model changes on onclick"
I am using rivets to bind news stories i retrieve from http call to my dom; It's paginated so i load 3 at a time.

`<section class="news-section">
                        <div class="col-12 post" rv-each-new="news">
                            <h5 class="h4capslight mb-3">{new.date}
                                <a href="" class="h4capslink">NEWS</a>
                            </h5>

[2018-04-03 20:49] mm-ns commented on #726
So this is bizzare.

As I retrieved from the server additional news, I was doing the following:
[code]
where model is the model  i get in the onclick function code. I consoled-out  the new model and it is updated correctly although the HTML did not update at all. But if i do this:
[code]
Then it works. What am I missing?

[2018-04-03 20:55] mm-ns commented on #726
I found that if i use the original view (my var newsBinds) i can do newsBinds.models.news = news and that works. it's just not super clear why it wouldn't work in the first case above.

[2018-04-16 04:10] #52 closed

[2018-04-29 13:59] rejhgadellaa opened #727 "Reset a binding before updating it?"
Is there a way to 'reset' a binding before updating it?

For example, if I have this:

[code]

it produces this after binding:

`<img rv-src="data.image" src="someimage.jpg" />`

But when I update the model with this:

`{data: { image: "some-other-image.jpg" }}`

the old image is still in place until the browser loaded the new image.

I'm also having an issue where attributes that I add don't get

[2018-05-09 18:18] greguz commented on #712
Hello everyone, I'm currently working to a new project that has all *rivets* features plus other useful ones: [iglue](https://github.com/greguz/iglue). It's written in TypeScript and published on [NPM](https://www.npmjs.com/package/iglue) in UMD, ES and CommonJS formats.

[2018-05-19 00:47] HendrikvA commented on #513
I may found a solution to this problem. Here is a patch for rivets.js that works for me:
@@ -27,7 +27,11 @@
         return '%' + modelName + '%';
       },
       handler: function(context, ev, binding) {
-        return this.call(context, ev, binding.view.models);
+    	if(binding.model["constructor"] == null){
+    		return this.call(context, ev, binding.view.models);
+    	}else{
+    		return

[2018-05-19 08:05] HendrikvA commented on #513
I analized a bit further, and found out that "if(binding.model["constructor"] == null)" is always false, so the if does not make sense. This is because "context" is the HTML-Element, that the event was bound to and an HTML-Element has a constructor.
I would sugesst changeing line rivets/src/rivets.coffee:54 to:
[code]
or
[code]
the former context would be also accessible via ev.target and i don't

[2018-05-19 16:53] HendrikvA commented on #513
I've read the documentation, and this the handler can be changed manualy via the configuration-option: So just put:
[code]
somewhere to make ES6-Callbacks possible.

I think someone should mention that in the documentation...

[2018-05-25 22:48] 84pennies commented on #387
I ended up making something a bit more flexible. It's a way to either combine multiple properties together or combine them into some string.  Here's how it looks in the markup:

[code]

When you use the formatter in the markup, you first pass the string you want to output. Then you pass any additional values you want to use in the string besides the initial value that's specified before "pipe" cha

[2018-05-31 18:34] arantius commented on #452
I don't know for sure if this is related or not. In our [code](https://github.com/greasemonkey/greasemonkey/blob/master/src/browser/monkey-menu.js), we have:

* An object (`gTplData`), with a key (`userscripts`), which is an object with two keys (`active`, `inactive`), each of which is an array of objects.
* A UI action can remove one of those leaf objects, so we `.splice()` its index out of the a

[2018-05-31 23:47] blikblum commented on #452
You can try tinybind, a fork of rivets with many bug fixes, like this one, and other improvements

https://github.com/blikblum/tinybind

[2018-05-31 23:49] blikblum commented on #726
@mm-ns
You can try tinybind, a fork of rivets with many bug fixes, like this one, and other improvements

https://github.com/blikblum/tinybind

[2018-05-31 23:50] blikblum commented on #699
You can try tinybind, a fork of rivets with many bug fixes and other improvements

https://github.com/blikblum/tinybind

[2018-08-07 13:53] Tibar commented on #65
I know this post is old but how can I set a select to be a select-multiple and rivets recognizes that?

`<select data-rv-value="building_vent.value" multiple="multiple" size="5" type="select-multiple">`

That doesnt work ...

[2018-08-14 22:10] 84pennies commented on #725
+ 1

[2018-10-11 09:10] stereonom commented on #631
Having the same problem. Have anyone figured out a good way?

[2019-02-07 13:47] #237 closed

[2019-02-11 23:41] RADKick commented on #682
Hello All,

I am rewriting of rivetsjs and tinybind, look at https://jsfiddle.net/riteshpahwa/feqt9a7b/
and if anyone wants to help, more then happy to add tasks. https://github.com/RADKick/kickjs/

[2019-02-20 20:55] olofweb opened #728 "Error in specific scenario"
I create a Glitch project to show my problem (https://rivets-js-bug.glitch.me). I have a simple model :

[code]

Vin has a collection of Millesimes and Millesime has a collection of Sorties. I have an html page who display this model and the user can delete 'Sortie' one by one. When last 'Sortie' is deleted, the console show the error : TypeError: e is not a function. (In 'e()', 'e' is undefined)

[2019-02-21 07:13] CEG-Ecoles commented on #728
I can't edit my message so I correct it here...

What I said, is if I remove the line `<div rv-if="millesime.sorties | any">`, then no more error.

[2019-03-23 17:45] ashelleyPurdue opened #729 "Databinding to an instance of a class works in Chrome, but not any other browser"
# The scenario

I have an index.html page that looks like this:
[code]

If my index.js file looks like this, my app behaves correctly in all 3 browsers:

[code]
The result looks like this:
![image](https://user-images.githubusercontent.com/8558767/54869509-d7dffc80-4d6f-11e9-8a8f-5dea12cac53d.png)

But, if I switch from using a factory function to a class,  it stops working in Firefox and Edge.
in

[2019-05-09 07:06] LucaGabi opened #730 "Why not use VueJs?"
Hi,

   Why would I use this instead of VueJs? Dose it have any advantage?

Thanks.

[2019-05-21 07:37] pmochine commented on #730
Vue is based on rivets

[2019-06-03 23:55] blikblum opened #731 "Release of tinybind 1.0"
Just released tinybind 1.0.

A modernized rivets successor with lot of fixes, performance tweaks, and some extra features like web component support

See https://github.com/blikblum/tinybind

[2019-06-04 18:25] Duder-onomy commented on #731
This is awesome! The web component support makes it even more compelling. Good job.

[2019-06-14 21:15] abraham-serafino commented on #729
The problem is here:

    message = 'Hello World!';

You are trying to use "class properties," which are not supported in Firefox. You should move this to the constructor:

class MessageBlock
{
  constructor() {
    this.message = 'Hello world!';
  }

  ...
}

[2019-08-23 21:44] kitsu commented on #387
Check out [Rivets StdLib](https://github.com/matthieuriolo/rivetsjs-stdlib/blob/03f36eb956aff342cc98e79a8fd334440449b3b2/src/rivetsstdlib.js#L351) for another implementation (easily converted to [TinyBind](https://github.com/blikblum/tinybind))

[2019-09-21 04:54] brandonrobertz commented on #730
Occasionally you need to integrate a templating and binding system in a crowded legacy environment, where it's easier to integrate something like rivets into existing template/MVC system than re-building and re-factoring large amounts of existing (working) code to bring in something like vue.

[2019-09-27 04:58] rfrkk opened #732 "How to bind the change event of input using lastest rivets"
Consider an example:
<div>
<input type="text" id="number_1"/> x <input type="text" id="number_1"/> = <span id="total"></span>
</div>

When #number_1 textfield is filled in 5 and #number_2 textfield is filled in 2,then #total span will be show 10 automatically.
How to do this by rivets (0.9.6),Please display all the code,thanks very much.

[2020-02-25 16:56] jmmccasland-hint opened #733 "Passing identical data into binders and getting different results"
Hello, I'm working on an existing Shopify store and running into some issues with our rivets.js integration.

Take the following example that lives in an `rv-each` loop:
[code]

One would expect the output text and href values would be identical. Unfortunately, that is not the case:
`rv-text` => `/products/clementine-hint%C2%AE-water-1?variant=31770173505639`
`rv-href` => `href="products/clementin

[2020-02-28 15:11] jmmccasland-hint commented on #733
Closing this as we discovered some unexpected behavior with a 3rd party app we were using within Shopify causing this behavior. Appreciate the hard work on rivets.js!

[2020-02-28 15:11] #733 closed

[2020-04-10 15:09] e9k commented on #105
If RivetJS doesn't support expressing basic javascript concepts, whats really the point?

`rivets.formatters.propertyList = (obj) ->
  ({key: key, value: value} for key, value of obj)

<ul>
  <li data-each-property="some.object | propertyList">
    <strong data-text="property.key"></strong>: <span data-text="property.value"></span>
  </li>
</ul>`

this doesnt support two way databinding because yo

[2020-10-29 22:01] stickboyc opened #735 "rv- breaks if we add to document"
I have a function that adds stylesheets to the head. After this function is called, all `rv-` attribute bindings break (such as rv-html, rv-data-*, etc). Regular bindings seem to continue to work (`{ data.whatever }`). Thoughts? Is there anyway to "reload" these attribute bindings?

[2020-11-07 14:01] Namek commented on #735
The function you mention, what is it?

[2021-02-25 20:53] sp00x opened #736 "Separate scopes / do not pollute global "rivets" configuration"
This may just be something I am not seeing, but is there a way of creating different scopes that do not share the same "rivets" object?

I.e. I do not see a way of having 2 separate views with different formatters bound to them, as they are all registered on the same "rivets" object,

E.g.
`rivets.formatters.gt = (a,b) => a > b;`
becomes available in all bindings/views, as far as I can tell?

I wa

[2021-07-30 07:47] #472 closed

[2021-09-30 15:09] pavelzolotin opened #737 "Cart quantity error"
Hello!
In 8/10 cases, when adding the quantity of products, for example, 4 pieces - after going to Cart, there is not 4, but 1 piece.
And you have to manually put the right amount in Cart.
As if rivets or ajax scripts are not immediately loaded or maybe something else.
What could it be?
We need your help.

[2022-05-31 21:36] GtrPksRnt4eatin opened #738 "Get Callback when component args change"
Hello, not really an issue but more a question/feature request.
Is there any way that i can trigger a callback function on a rivets components viewModel anytime the arguments to the component change? I have a plugin that needs some manual setup/configuration within the view. I would like to trigger the functions that do this from within the component every time the arguments change. I was thinking